<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <description>数据库配置</description>
    <beans>
        <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
            <property name="driverClassName" value="${jdbc.driverClass}"/>
            <property name="url" value="${jdbc.url}"/>
            <property name="username" value="${jdbc.username}"/>
            <property name="password" value="${jdbc.password}"/>
            <!--最大连接数-->
            <property name="maxActive" value="30"/>
            <!--最大等待你时间-->
            <property name="maxWait" value="60000"/>
        </bean>

        <!--mybatis sqlSessionFactory配置-->
        <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
            <!--数据源-->
            <property name="dataSource" ref="dataSource"/>
            <!--核心配置文件-->
            <property name="configLocation" value="classpath:mybatis-config.xml"/>
            <!--mapper文件-->
            <property name="mapperLocations" value="classpath:/mapper/*Mapper.xml"/>
            <!--typeAliasesPackage：它一般对应我们的实体类所在的包，这个时候会自动取对应包中不包括包名的简单类名作为包括包名的别名。多个package之间可以用逗号或者分号等来进行分隔-->
            <property name="typeAliasesPackage" value="com.afabao.travel.entity"/>
        </bean>

        <!--mapper自动扫描配置-->
        <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
            <property name="basePackage" value="com.afabao.travel.dao"/>
        </bean>

        <!--spring事务配置-->
        <context:component-scan base-package="com.afabao.travel.service.impl"/>
        <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
            <property name="dataSource" ref="dataSource"/>
        </bean>
        <!--开启事务注解-->
        <tx:annotation-driven transaction-manager="transactionManager"/>
    </beans>
</beans>